@mixin colInner{
  font-size: 0;
}
@mixin col-3{
  display: inline-block;
  width: 33.333%;
  vertical-align: top;
  box-sizing: border-box;
}
@mixin col-2{
  display: inline-block;
  width: 50%;
  vertical-align: top;
  box-sizing: border-box;
}
@mixin price{
  font-size: 2.3vw;
  display: inline-block;
  vertical-align: middle;
  @media screen and (max-width: 768px) {
    font-size: 4.5vw;
  }
}
@mixin bannerImg{
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
@mixin cutTxt{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@mixin centeringVrt{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin centeringVrtHrz{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin animationFix{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

//___________________________________BUTTONS
@mixin withBorder{
  padding-left: 4.15vw; /* 3+0.15+1 */
}
@mixin withoutBorder{
  padding-left: 1vw;
}

@mixin withBorderMob{
  padding-left: 10.15vw; /* 7.5+0.35+2.3 */
}
@mixin withoutBorderMob{
  padding-left: 2.3vw;
}

@mixin withBorder{
  padding-left: 4.15vw; /* 3+0.15+1 */
}


.notA{ text-decoration: none; color: #fff;}
.cart{
  position: fixed;
  top: 0;
  right: -100%;
  //right: -41vw;
  background: #ffffff;
  width: 41vw;
  height: 100vh;
  z-index: 100;
  padding: 2vw 0;
box-sizing: border-box;
  transition: right .4s linear;

  .clearFix{
    clear: both;
  }
  .cartClose{
    position: absolute;
    top: 0.3vw;
    right: 3vw;
    width: 1.5vw;
    cursor: pointer;
  }
  .cartPrev{
    display: none;
    position: absolute;
    left: 1.7vw;
    width: 2vw;
    top: 0.2vw;
    cursor: pointer;
    z-index: 10;
  }
  .cartContainer {
    padding: 0 1.7vw;
    box-sizing: border-box;
  }
  .cartTitle{
    text-align: left;
    font-size: 2.6vw;
    line-height: 1;
    color: #292929;
    font-weight: 500;
    text-transform: uppercase;
  }

  input {outline: none;}
  input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* ���� ���� */
    -webkit-text-fill-color: #333333 !important; /* ���� ������ */
    color: #333333 !important; /* ���� ������ */
  }

  //______________________________cartEmpty
  .cartEmpty{
    display: block;
    text-align: center;
    .cartTitle{
      padding-left: 1vw;
    }
    .cartBox{
      min-height: 18vw;
      position: relative;
      text-align: center;
      .cartInner{
        @include centeringVrtHrz;
        img{
          width: 3vw;
        }
        p{
          color: #cccccc;
          font-size: 1.65vw;
          line-height: 1;
        }
      }
    }
    h3 {
      text-align: left;
      color: #7a7a7a;
      font-size: 1.2vw;
      font-weight: 500;
      line-height: 1;
      padding-bottom: 1.3vw;
      &:before {
        content: '';
        background: url("/image/eye-gray.png") center no-repeat;
        width: 1.8vw;
        height: 1.8vw;
        display: inline-block;
        background-size: contain;
        vertical-align: middle;
        margin-right: 0.3vw;
      }
    }
    .colInner{
      @include colInner;
      padding: 0 1.5vw;
      border-top: 1px solid #cccccc;
    }
    .col{
      @include col-2;
      text-align: center;
      border-top: 1px solid #cccccc;
      padding: 2.5vw 0 0;
      box-sizing: border-box;
      min-height: 27vw;
      &:first-child{
        border-top: 0;
      }
      &:nth-child(2){
        border-top: 0;
      }
      &:nth-child(odd){
        border-right: 1px solid #cccccc;
        &:last-child{
          border-right: 0;
          width: 100%;
          .colBox{
            width: 50%;
          }
        }
      }
      a{
        display: block;
        text-decoration: none;
      }
      .colBox{
        width: 100%;
        margin: 0 auto;
        position: relative;
      }
      .selectSpace{
        list-style: none;
        position: absolute;
        top: -1.5vw;
        left: 0.5vw;
        li{
          box-sizing: border-box;
          cursor: pointer;
          font-size: 0.7vw;
          color: #97bede;
          text-align: center;
          padding: 0.1vw 0.25vw;
          border: 0.15vw solid transparent;
          line-height: 1;
          &.active{
            color: #646464;
            border:0.15vw solid #97bede;
          }
        }
      }
      .boxItem{
        position: absolute;
        right: 0.5vw;
        top: -1.5vw;
      }
      .item{
        position: relative;
        border-radius: 0.25vw;
        margin-bottom: 0.5vw;
        &.new{
          background-color: #d5bda3;
        }
        &.sale{
          background-color: #97bede;
        }
      }
      .itemName{
        padding: 0.2vw 0.4vw;
        font-family: "MyriadProBold", sans-serif;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        font-size: 0.6vw;
      }
      .promptBox{
        position: absolute;
        top: -0.3vw;
        right: 2.5vw;
        width: 7.5vw;
        border: 1px solid #ccc;
        background: #fff;
        border-radius: 2px;
        font-family: 'MyriadProLight', sans-serif;
        text-align: left;
        color: #7d827b;
        font-size: 0.5vw;
        line-height: 1.25;
        padding: .3vw .3vw;
        box-sizing: border-box;
        &:before{
          position: absolute;
          top: 0.4vw;
          right: -0.3vw;
          width: .3vw;
          height: .3vw;
          content: '';
          display: block;
          box-sizing: border-box;
          border-left: .3vw solid #ccc;
          border-bottom: .3vw solid transparent;
          border-top: .3vw solid transparent;
        }
        &:after{
          position: absolute;
          top: 0.4vw;
          right: -0.3vw;
          width: .3vw;
          height: .3vw;
          content: '';
          display: block;
          box-sizing: border-box;
          border-left: .3vw solid #ffffff;
          border-bottom: 0.3vw solid transparent;
          border-top: .3vw solid transparent;
          transform: translateX(-1px);
        }
      }
      img{
        width: 100%;
        height: auto;
        padding: 0 0.5vw 1vw;
        box-sizing: border-box;
      }
      .productTitle{
        color: #333;
        line-height: 1.2;
        font-size: 0.7vw;
        margin: 0 1vw 0.5vw;
        max-height: 3.36vw;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
      }
    }
    .choiceColor{
      text-align: center;
      .colour{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        margin: 0.5vw 0.3vw;
        cursor: pointer;
        outline: none;
        box-shadow: inset 0 0.2vw 0.3vw 0 rgba(51, 51, 51, 0.3);
        &.colourGold{
          background-color: #ddc8b5;
        }
        &.colourSilver{
          background-color: #eeeeee;
        }
        &.colourGrey{
          background-color: #8c9093;
        }
        &.active{
          box-shadow: inset 0 0.2vw 0.3vw 0 rgba(51, 51, 51, 0.3), 0 0 0 0.15vw #ffffff, 0 0 0 0.25vw #97bede;
        }
      }
    }
    .showLink{
      display: inline-block;
      color: #666666;
      text-decoration: none;
      line-height: 1;
      text-align: center;
      margin: 2vw 0 0.5vw;
      font-size: 1vw;
      border-bottom: 1px solid #666666;
    }
  }

  //______________________________cartFull
  .cartFull{
    display: block;
    text-align: left;
    .cartTitle{
      padding-bottom: 3vw;
    }
    .sumGoods{
      display: block;
      text-align: left;
      color: #97bede;
      font-size: 1vw;
      line-height: 1;
      text-transform: uppercase;
      padding-bottom: 1.5vw;
    }
    .cartInfo{
      list-style: none;
      padding: 0 1.3vw 2.5vw;
      .cartItem{
        position: relative;
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
        padding: 1.6vw 4.7vw 1.6vw 1.7vw;
        box-sizing: border-box;
        text-align: left;

        &:first-child{
          border-top: 1px solid #e5e5e5;
        }
        &.cartItemHide{
          display: none;
        }
      }
      .cartItemLink{
        display: block;
        text-decoration: none;
        width: 100%;
      }
      .cartItemImg{
        display: inline-block;
        vertical-align: middle;
        width: 4vw;
        padding-right: 1.4vw;
        img{
          width: 100%;
          height: auto;
          vertical-align: bottom;
        }
      }
      .cartItemTitle{
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        width: 20vw;
      }
      .mainTitle{
        color: #333333;
        line-height: 1;
        text-transform: uppercase;
        font-size: 1.34vw;
        padding-bottom: 0.5vw;
      }
      .subTitle{
        color: #666666;
        line-height: 1;
        font-size: 1.1vw;
      }
    }
    .cartItemDel{
      @include centeringVrt;
      width: 1vw;
      right: -1.3vw;
      cursor: pointer;
    }
    .cartSum{
      @include centeringVrt;
      right: 0.5vw;
      color: #333333;
      line-height: 1;
      font-size: 1.1vw;
    }
    .cartAmount{
      @include centeringVrt;
      position: absolute;
      left: -1.3vw;
      width: 2vw;
      text-align: center;
    }
    .cartSign{
      width: 1.5vw;
      height: 1.5vw;
      display: inline-block;
      cursor: pointer;
      &.cartMinus{
        background: url("/image/minus.png")center no-repeat;
        background-size: cover;
      }
      &.cartPlus{
        background: url("/image/plus.png")center no-repeat;
        background-size: cover;
      }
    }
    .cartAmountInput{
      width: 2vw;
      padding: 0.5vw 0;
      border: 0;
      outline: 0;
      text-align: center;
      color: #333333;
      line-height: 1;
      font-size: 1vw;
    }
    .cartTotalSum {
      @include colInner;
      color: #333333;
      line-height: 1;
      width: 17vw;
      float: right;
      text-align: left;
      padding-bottom: 2.5vw;
    }
    .totalTitleBox{
      @include col-2;
      vertical-align: middle;
      .cartTotalTitle{
        float: right;
        display: block;
        text-transform: uppercase;
        font-size: 1.1vw;
      }
    }
    .totalUahBox{
      @include col-2;
      vertical-align: middle;
      .cartTotalUah{
        float: right;
        font-size: 1.1vw;
      }
    }
    .purchaseTerms{
      font-family: 'MyriadProLight',sans-serif;
      color: #666666;
      font-size: 1.2vw;
      text-align: left;
      img{
        display: inline-block;
        vertical-align: middle;
        width: 1.3vw;
        padding-right: 0.5vw;
      }
      p{
        display: inline-block;
        vertical-align: middle;
        max-width: 90%;
      }
      a{
        display: inline-block;
        vertical-align: middle;
        color: #666666;
        text-decoration: none;
        border-bottom: 1px solid #666666;
      }
      &.inStock{
        display: block;
      }
    }
  }

  //______________________________cartOrdering
  .cartOrdering{
    display: block;
    padding: 0 0 0 1vw;
    text-align: left;
    &:after{
      visibility: hidden;
      display: block;
      content: "";
      clear: both;
      height: 0;
    }
    .cartTitle{
      padding-bottom: 4vw;
      padding-left: 2vw;
    }
    .cartOrderingTitle{
      font-family: 'MyriadProSemibold', sans-serif;
      color: #333333;
      font-size: 1.1vw;
      line-height: 1;
      text-transform: uppercase;
      padding-bottom: 0.7vw;
    }
    .cartItem{
      @include colInner;
      padding-bottom: 2vw;
      .storageBox{display: none;}
      &.post{
        .streetBox,.houseBox,.podezdBox,.floorBox,.apartmentBox{display: none;}
        .storageBox{display: inline-block;}
      }
      .col{
        width: 100%;
      }
    }
    .fieldBoxForm {
      @include col-2;
      padding-right: 1.5vw;
      &.comment{
       width: 100%;
      }
      .select {
        width: 100%;
        position: relative;
        font-size: 1.1vw;
        color: #333333;
        cursor: pointer;
      }
      .s-hidden {
        display: none;
      }
      .selectView {
        position: relative;
        width: 100%;
        padding: 1vw 0;
        line-height: 1;
        border-bottom: 1px solid #e4e4e4;
        &.active {
          border-bottom: 1px solid transparent;
        }
        &:after {
          @include centeringVrt;
          right: 0;
          content: "";
          width: 1.6vw;
          height: 1.6vw;
          background: url("/image/arrowDown-dark.png") center center no-repeat;
          background-size: cover;
        }
      }
      .selectOptions {
        position: absolute;
        width: 100%;
        background: #fff;
        color: #333333;
        box-sizing: border-box;
        display: none;
        z-index: 100;
        list-style: none;
        li {
          &:first-child{
            display:none;
          }
          color: #333333;
          font-size: 1.1vw;
          padding: 1vw 0.3vw;
          &:hover {
            background-color: rgba(151, 190, 222, 1);
            color: #ffffff;
          }
          .price{
            color: #97bede;
          }
        }
      }
    }
    .subCartItem{
      @include col-2;
      padding-right: 1.5vw;
      .fieldBoxForm{
        box-sizing: content-box;
        width: 45%;
        padding-right: 0;
        &:first-child{
          padding-right: 10%;
        }
      }
    }
    .cartTotal{
      float: right;
      min-width: 11.7vw;
      padding-bottom: 1vw;
    }
    .cartTotalItem{
      overflow: hidden;
      padding-bottom: 0.5vw;
      color: #cccccc;
      font-size: 1vw;
      &.sum{
        color: #333333;
        text-transform: uppercase;
      }
    }
    .totalTitleBox{
      float: left;
      .cartTotalTitle{
        display: block;
        word-break: break-all;
      }
    }
    .totalUahBox{
      float: right;
      padding-left: 5%;
      .cartTotalUah{
        display: block;
      }
    }
    .purchaseGroup{
      width: 67%;
      @include colInner;
      display: inline-block;
      .col{
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        &.narrow{
          width: 45%;
        }
        &.wide{
          width: 55%;
        }
      }
    }
    .purchaseTerms{
      font-family: 'MyriadProLight', sans-serif;
      color: #666666;
      font-size: 0.9vw;
      text-align: left;
      &.inStock{
        display: block;
      }
      img{
        display: inline-block;
        vertical-align: middle;
        width: 1vw;
        padding-right: 0.3vw;
      }
      p{
        display: inline-block;
        vertical-align: middle;
        max-width: 90%;
      }
      a{
        display: inline-block;
        vertical-align: middle;
        color: #666666;
        text-decoration: none;
        border-bottom: 1px solid #666666;
      }
    }
    .cartLinkBox{
      display: inline-block;
      margin-bottom: 2vw;
      .cartLink{
        display: inline-block;
        text-decoration: none;
        color: #97bede;
        border-bottom: 1px solid #97bede;
        font-size: 1.2vw;
        line-height: 1;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cart{
    height: auto;
    min-height: 100vh;
    top: 20vw;
    width: 100%;
    right: -100%;
    padding: 4vw 0 10vw;  /* 4vw + header 10vw */
    .cartClose{
      display: none;
    }
    .cartPrev{
      display: none;
    }
    .cartContainer {
      padding: 0;
    }
    .cartTitle{
      font-size: 7.4vw;
      text-align: center;
    }
    //______________________________cartEmpty
    .cartEmpty {
      .cartBox {
        min-height: 85vw;
        .cartInner {
          @include colInner;
          img {
            width: 6.5vw;
            display: inline-block;
            vertical-align: middle;
            padding-right: 1.5vw;
          }
          p {
            font-size: 4.5vw;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
      h3 {
        text-align: center;
        font-size: 4.5vw;
        &:before {
          background: url('/image/eye-gray-dark.png') center no-repeat;
          background-size: contain;
          width: 7.5vw;
          height: 7.5vw;
          margin-right: 1.5vw;
        }
      }
      .col {
        padding: 5vw 0 0;
        min-height: 75vw;
        .selectSpace {
          left: 1.5vw;
          li {
            font-size: 3vw;
            padding: .25vw .7vw;
            border: 0.35vw solid transparent;
            &.active {
              border:0.35vw solid #97bede;
              border-radius: 0.5vw;
            }
          }
        }
        .boxItem{
          right: 1.5vw;
        }
        .item {
          border-radius: .5vw;
          margin-bottom: 0.7vw;
        }
        .itemName{
          padding: 0.7vw 1.7vw;
          font-size: 2.9vw;
        }
        .promptBox {
          top: -1vw;
          right: 12vw;
          width: 28vw;
          border-radius: 0.8vw;
          font-size: 2vw;
          line-height: 1.4;
          padding: 1.5vw;
          &:before{
            top: 1.4vw;
            right: -1.4vw;
            width: 1.4vw;
            height: 1.4vw;
            border-left: 1.4vw solid #ccc;
            border-bottom: 1.4vw solid transparent;
            border-top: 1.4vw solid transparent;
          }
          &:after{
            top: 1.4vw;
            right: -1.4vw;
            width: 1.4vw;
            height: 1.4vw;
            border-left: 1.4vw solid #ffffff;
            border-bottom: 1.4vw solid transparent;
            border-top: 1.4vw solid transparent;
          }
        }
        img{
          padding: 0 1vw 2vw;
        }
        .productTitle {
          font-size: 2.5vw;
          margin: 0 1vw 1.5vw;
          max-height: 12vw;
        }
      }
      .choiceColor {
        .colour {
          width: 2.5vw;
          height: 2.5vw;
          margin: 0.5vw;
          &.active{
            box-shadow: inset 0 0.2vw 0.3vw 0 rgba(51, 51, 51, 0.3), 0 0 0 0.35vw #ffffff, 0 0 0 0.55vw #97bede;
          }

        }
      }
      .showLink {
        display: none;
      }
    }

    //______________________________cartFull
    .cartFull{
      @include colInner;
      padding: 0 5vw;
      .cartTitle{
        padding-bottom: 4vw;
      }
      .sumGoods{
        display: none;
      }
      .cartInfo{
        padding: 0 0 5vw 0;
        .cartItem{
          padding: 8vw 4vw 8vw 2vw;
          border-bottom: 0.35vw solid #e5e5e5;
          &:first-child{
            border-top: 0.35vw solid #e5e5e5;
          }
        }
        .cartItemImg{
          width: 20vw;
          padding-right: 6vw;
        }
        .cartItemTitle{
          width: 50vw;
        }
        .mainTitle{
          font-size: 5.3vw;
          padding-bottom: 1.5vw;
        }
        .subTitle{
          font-size: 3.9vw;
          padding-bottom: 1.5vw;
        }
      }
      .cartItemDel{
        width: 3.4vw;
        right: -1.7vw;
      }
      .cartSum{
        font-family: 'MyriadProLight', sans-serif;
        position: static;
        transform: none;
        font-size: 5.7vw;
      }
      .cartAmount{
        left: -4vw;
        width: 8vw;
      }
      .cartSign{
        width: 6vw;
        height: 6vw;
        &.cartMinus{
          background: url("/image/minusMob.png")center no-repeat;
          background-size: cover;
        }
        &.cartPlus{
          background: url("/image/plusMob.png")center no-repeat;
          background-size: cover;
        }
      }
      .cartAmountInput{
        width: 8vw;
        font-size: 5vw;
        padding: 4vw 0;
      }
      .cartTotalSum{
        width: 60vw;
        padding-bottom: 5vw;
        padding-right: 2vw;
        .cartTotalTitle{
          font-size: 4.1vw;
        }
        .cartTotalUah{
          font-family: 'MyriadProLight', sans-serif;
          font-size: 5.7vw;
        }
      }
      .purchaseTerms{
        @include col-3;
        font-size: 2.9vw;
        padding: 0 0.5vw 4vw;
        text-align: center;
        &.inStock{
          display: none;
        }
        img{
          display: block;
          margin: 0 auto;
          width: 4vw;
          padding-right: 0;
          padding-bottom: 1.2vw;
        }
        p{
          max-width: 100%;
          vertical-align: baseline;
        }
        a{
          display: none;
        }
      }
    }

    //______________________________cartOrdering
    .cartOrdering{
      padding: 0 5vw;
      .cartTitle{
        padding-left: 0;
      }
      .cartOrderingTitle{
        font-size: 4.2vw;
        padding-bottom: 3vw;
      }
      .cartItem{
        padding-bottom: 6vw;
      }
      .fieldBoxForm {
        padding-right: 0;
        width: 100%;
        .select {
          font-size: 3.7vw;
        }
        .selectView {
          padding: 3.5vw 0;
          &:after {
            right: 1.25vw;
            width: 6vw;
            height: 6vw;
          }
        }
        .selectOptions {
          li {
            font-size: 3.7vw;
            padding: 3.5vw 0;
          }
        }
      }
      .subCartItem{
        width: 100%;
        padding-right: 0;
        .fieldBoxForm{
          width: 48%;
          &:first-child{
            padding-right: 4%;
          }
        }
      }
      .cartTotal{
        min-width: 60vw;
        padding-bottom: 4vw;
      }
      .cartTotalItem{
        font-size: 0;
        padding-bottom: 1.3vw;
        &.sum {
          .totalTitleBox{
            vertical-align: middle;
          }
          .cartTotalTitle {
            font-size: 4vw;
          }
          .totalUahBox{
            vertical-align: middle;
          }
          .cartTotalUah {
            font-size: 5.7vw;
          }
        }
      }
      .totalTitleBox{
        float: none;
        display: inline-block;
        width: 50%;
        vertical-align: baseline;
        box-sizing: border-box;
        .cartTotalTitle{
          text-transform: uppercase;
          font-size: 2.7vw;
          letter-spacing: 0.15vw;
          float: right;
        }
      }
      .totalUahBox{
        float: none;
        display: inline-block;
        width: 50%;
        vertical-align: baseline;
        box-sizing: border-box;
        .cartTotalUah{
          text-transform: lowercase;
          font-family: 'MyriadProLight', sans-serif;
          font-size: 4.5vw;
          float: right;
        }
      }
      .purchaseGroup{
        width: 100%;
        padding-bottom: 4vw;
        .col{
          &.narrow{
            width: 33.3333%;
          }
          &.wide{
            width: 66.3337%;
            @include colInner;
            .purchaseTerms{
              @include col-2;
            }
          }
        }
      }
      .purchaseTerms{
        font-size: 2.9vw;
        text-align: center;
        padding: 0 .5vw;
        &.inStock{
          display: none;
        }
        img{
          display: block;
          margin: 0 auto;
          width: 4vw;
          padding-right: 0;
          padding-bottom: 1.2vw;
        }
        p{
          max-width: 100%;
          vertical-align: baseline;
        }
        a{
          display: none;
        }
      }
      .cartLinkBox{
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 4vw;
        .cartLink{
          font-size: 4.5vw;
        }
      }
    }
  }
}