button{
	text-transform: uppercase; width: 50%; line-height: 40px; outline: none; border: none; cursor: pointer;
}
.blackBtn{ background: #000; color: #fff; }
.grayBtn{ background: #777; color: #fff; }

