.snackbar {
	min-width: 288px;
	max-width: 568px;
	border-radius: 2px;-webkit-transform: translate(-50%, 80px);transform: translate(-50%, 80px);
	position: fixed;bottom: 0;left: 50%;cursor: default;background-color: #323232;z-index: 3;display: block;
	display: flex; justify-content: space-between;font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	will-change: transform;transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 1, 1);
	transition: transform 0.25s cubic-bezier(0.4, 0, 1, 1);pointer-events: none;
}
.snackbar__text {padding: 14px 12px 14px 24px;vertical-align: middle;color: white;float: left;}
.snackbar--active {
	transform: translate(-50%, 0);pointer-events: auto;
	transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
}